
@{
    ViewBag.Title = "Skill";
}


<div class="jumbotron">

    <h2>Skills</h2>
    <br />
    <h4>ClientSide : @ViewBag.ClientSide</h4>
    <h4>BackendSide : @ViewBag.BackendSide</h4>
    <h4>Database : @ViewBag.Database</h4>

    </div>